<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
  <form ng-if="modal.form" role="form" class="form-horizontal">
    <div class="row">
      <div field ng-model="field.value" ng-field="field" ng-repeat="field in fields"></div>'
    </div>
  </form>
</div>
<div class="modal-footer">
  <button ng-if="modal.buttons" ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
  <button ng-if="!modal.buttons" class="btn btn-primary" ng-click="ok()">OK</button>
  <button ng-if="!modal.buttons" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
