<quick-list quick-list="orders" list-type="list" title="Ordered Accessories" item-select="received(order,accessory)">

            {{ item.customer.name }} - {{ item.po_number }}

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>From</th>
                        <th>Description</th>
                        <th>Items Ordered</th>
                        <th>Items Received</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="accessory in item.ordered_accessories | filter:accessory.received ">
                        <td>{{ accessory.from_manufacturer }}</td>
                        <td>{{ accessory.description }}</td>
                        <td>{{ accessory.quantity }}</td>
                        <td>
                            <input type="number" ng-model="accessory.items_received">
                            <button ng-click="saveUpdates({newVal:item})">Update</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>

</quick-list>
