<ul class="nav navbar-nav navbar-left" sb-sidebar-menus menus-url="/api/menus">

    <li ng-repeat="menu in menus track by $index">
        <a href="#{{ menu.route }}">{{ menu.name }}<span class="fa arrow" ng-if="menu.subMenus"></span></a>
        <ul class="nav nav-second-level" ng-if="menu.subMenus">
            <li ng-repeat="subMenu in menu.subMenus track by $index">
                <a href="#{{ subMenu.route  }}" sb-url-active-menu>{{ subMenu.name }}</a>
            </li>
        </ul>
    </li>
</ul>



