<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" tooltip-placement="right" tooltip="On the Right!">{{ module }}
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Add new
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li ng-repeat="form in moduleForms"><a href="" ng-click="addForm(form)">Add {{ form.form_name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <accordion close-others="oneAtATime">
            <accordion-group heading="{{form.form_name}}" ng-repeat="form in listOfForms" is-open="$index==0">
                <accordion-heading>
                    {{form.form_name}}
                    <div class="btn-group-xs pull-right">
                        <button type="button" class="btn btn-default fa fa-plus" ng-click="addField(form,$event)"></button>
                        <button type="button" class="btn btn-default fa fa-trash-o"></button>
                    </div>
                </accordion-heading>

                <div class="well well-sm">
                    <field ng-model="field" ng-repeat="field in form.fields"></field>
                </div>
            </accordion-group>
        </accordion>

        <div class="warning" ng-if="!listOfForms || listOfForms.length==0" class="animate-if">Nothing to show yet</div>
    </div>
</div>