<div class="modal-header">
    <h5>Form Delete confirmation</h5>
</div>

<div class="modal-body">
    <div class="alert alert-danger">
        You are about to delete {{ form.form_name }}, are you sure?
    </div>
    <div>
        Your existing forms will be still available but you would not be able to add new one.
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="delete()" id="delete">Delete</button>
    <button class="btn btn-warning" ng-click="cancel()" id="cancel">Cancel</button>
</div>
