<div class="row">
  <div class="col-md-2">
      <div class="panel panel-default">
          <div class="panel-heading">Filters</div>
          <ul class="list-group">
              <a href="/order/services/pending" class="list-group-item" sb-url-active>
                  New, pending
              </a>
              <a href="/order/services/finished" class="list-group-item" sb-url-active>
                  Completed
              </a>
              <a href="/order/services" class="list-group-item" sb-url-active>
                  All
              </a>
          </ul>
      </div>
  </div>
  <div class="col-md-10">
      <div class="panel panel-default">
          <div class="panel-heading">Order search</div>
          <div class="panel-body">
              <div class=well>
                  <form ng-submit="loadOrders()">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="queryText" placeholder="Search order...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="loadOrders()">Search</button>
                          </span>
                        </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                    </div>
                  </form>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading">Searvices</div>
                  <div class="panel-body">
                  <div class="row">
                    <accordion>
                     <accordion-group heading="{{getOrderName(order)}}" ng-repeat="order in orders">
                       <div class="well">
                           <order-services order="order"></order-services>
                       </div>
                     </accordion-group>
                    </accordion>
                    <pagination ng-model="currentPage" total-items="totalOrders" page="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                     <pre>Page: {{currentPage}} / {{numPages}}</pre>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
