
<div class="row">
    <div class="col-md-4">
        <quick-list quick-list="list" listType="list" title="Latest Orders"
                    search-filter="order_search_fields"
                    item-select="edit(item)" list-search="search(selectedFilter)">
            <h4 class="list-group-item-heading">
                <a href="" ng-click="itemSelect({item:item})">{{ item.customer.name }}</a>
                <span class="pull-right text-muted small"><em>{{ item.date_required | timeago:true }}</em></span>
            </h4>
            <p class="list-group-item-text">Created By: {{ item.created_by.name }}</p>
        </quick-list>
    </div>
    <div class="col-md-8">
        <form name="form" class="form-horizontal" role="form" novalidate="" ng-submit="saveOrder(form)" ng-class="{submitted:submitted}">
            <order-details></order-details>
            <div class="well">
                <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Save</button>
                <button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>
            </div>

        </form>
    </div>
</div>