<div class="modal-header">
    <h5>Order Schedule</h5>
</div>

<div class="modal-body">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label class="col-sm-3 control-label">Date Required</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fieldName" placeholder="Field Name" ng-model="order.date_required" ng-required="true">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>