<div class="col-md-12">

    <form name="form" class="form-horizontal" role="form" novalidate="" ng-submit="save(form.$valid)" ng-class="{submitted:submitted}">

        <div class="row">
            <div class="col-md-8">
                <order-details></order-details>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Status: <order-status></order-status>
                    </div>
                 </div>
            </div>
        </div>


        <div class="well">
            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Save</button>
            <button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>
        </div>
    </form>
</div>