<toaster-container toaster-options="{'position-class': 'toast-top-full-width'}"></toaster-container>
<div class="row">
    <div class="col-md-4">
        <quick-list quick-list="list" title="Orders made by you" item-select="edit(item)"></quick-list>
    </div>
    <div class="col-md-8">

        <tabset justified="true">
            <tab>
                <tab-heading>Order&nbsp;<span class="badge" ng-show="total_working_hours">{{ total_working_hours }} working hours</span></tab-heading>
                <form name="form" class="form" role="form" novalidate="" ng-submit="saveOrder(form)" ng-class="{submitted:submitted}">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Order details
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="" ng-click="delete()" ng-show="order._id">Delete</a></li>
                                        <li><a href="" ng-click="schedule()">Schedule order</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : form.customerName.$invalid }">
                                <label>Customer</label>
                                <input type="text" class="form-control" name="customerName" ng-model="order.customer.name" ng-required="true">
                                <p ng-show="form.customerName.$invalid" class="help-block">Enter required field.</p>

                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : form.customerEmail.$invalid && (!form.customerEmail.$pristine || submitted)}">
                                <label>Email</label>
                                <input type="email" class="form-control" id="customerEmail" name="customerEmail" ng-model="order.customer.email">
                                <p ng-show="form.customerEmail.$invalid && (!form.customerEmail.$pristine || submitted)" class="help-block">Enter valid email address.</p>
                            </div>
                            <div class="list-group">
                                <a href="" class="list-group-item" ng-click="isAddressVisible = !isAddressVisible">Address</a>
                                <div collapse="!isAddressVisible">
                                    <div class="well well-lg">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input class="form-control" ng-model="order.customer.address">
                                            </div>
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input class="form-control" ng-model="order.customer.postal_code">
                                            </div>
                                            <div class="form-group">
                                                <label>Province</label>
                                                <input class="form-control" ng-model="order.customer.province">
                                            </div>
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input class="form-control" ng-model="order.customer.country">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Projects
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Actions
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li><a href="" ng-click="delete()" ng-show="order._id">Delete</a></li>
                                                <li ng-repeat="project in available_projects"><a href="" ng-click="addProject(project)">Add {{ project.name }}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <fieldset  ng-repeat="project in order.projects">
                                        <legend>{{ project.project }}</legend>
                                        <div ng-repeat="field_set in project.field_sets">
                                              <span>{{ field_set.title }}</span>

                                              <field ng-model="field" ng-repeat="field in field_set.fields"></field>

                                        </div>

                                    </fieldset>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Save</button>
                            <button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>

                        </div>

                    </div>

                </form>
            </tab>
            <tab heading="Taks">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Tasks to do on this order</div>
                    <div class="panel-body">
                        <p>List of task and their status are shown here, you can change its status to the next
                            step</p>
                    </div>

                    <!-- List group -->

                    <div class="panel panel-default" ng-repeat="project in order.projects">
                        <!-- Default panel contents -->
                        <div class="panel-heading">{{ project.project }}</div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-{{ task.status }}" ng-repeat="task in project.tasks | orderBy:'priority'">
                                    {{ task.title }}&nbsp;<span class="badge">{{ task.duration }}</span>
                                     <span class="pull-right" ng-repeat="status in task.status_options track by $index"><a href="" ng-click="taskStatusChange(task,status)">{{ status }}</a>&nbsp;</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </tab>
            <tab heading="Ordered material">

            </tab>
        </tabset>
    </div>



</div>