<div class="row">
    <div class="col-md-3 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <form role="form" name="form" ng-submit="register(form)" novalidate>
                    <fieldset>
                        <div class="form-group"
                             ng-class="{ 'has-error' : form.owner.$invalid && !form.owner.$pristine }">
                            <input type="text" placeholder="Owner name" name="owner" class="form-control"
                                   ng-model="user.owner" ng-required="true">

                            <p ng-show="form.owner.$invalid && !form.owner.$pristine" class="help-block">Enter existing
                                owner name.</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                            <input type="text" placeholder="Name" name="email" class="form-control" ng-model="user.name"
                                   ng-required="true">

                            <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">Enter a valid
                                name.</p>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
                            <input type="email" placeholder="E-mail" name="email" class="form-control"
                                   ng-model="user.email" ng-required="true">

                            <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Enter a valid
                                email.</p>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine }">
                            <input type="password" placeholder="Password" name="password" class="form-control"
                                   ng-model="user.password"
                                   ng-minlength="3"
                                   required
                                   mongoose-error/>

                            <p class="help-block"
                               ng-show="(form.password.$error.minlength || form.password.$error.required)">
                                Password must be at least 3 characters.
                            </p>

                            <p class="help-block" ng-show="form.password.$error.mongoose">
                                {{ errors.password }}
                            </p>


                        </div>
                        <div class="form-group" ng-class="{ 'has-error' :  errors.other}">
                            <p class="help-block">{{ errors.other }}</p>
                        </div>

                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="form.$invalid"> Sign
                            in
                        </button>
                        <hr>
                        Have an account? <a href="/login" class="text-center new-account">Log in.</a>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
