<div class="panel panel-default">
  <div class="panel-heading">Notes</div>
  <div class="panel-body">
    <div class="list-group">
        <div class="list-group-item" ng-class="{'list-group-item-success': note.resolved, 'list-group-item-warning': !note.resolved}" ng-repeat="note in notes">
	        <div class="row">
	        	<div class="col-md-10">
	        		<div class="checkbox">
					    <label>
					      	<div>
						      	<h4 class="list-group-item-heading">{{ note.from.name }} @ {{ note.posted_on | date }}</h4>
							  	<p class="list-group-item-text">{{ note.content }}</p>
						  	</div>
					    </label>
					  </div>
	        	</div>
	        	<div class="col-md-2">
		        	<button type="button" tooltip="Delete?" tooltip-trigger="mouseenter" class="btn btn-default btn-xs" restricted-access ng-click="deleteNote($index,note)" >
					  <span class="glyphicon glyphicon-trash"></span>
					</button>	
	        	</div>
	        </div>
        </div>
    </div>
  </div>
</div>