<div class="panel panel-default">
  <div class="panel-heading">To Do</div>
  <div class="panel-body">
    <div class="list-group">
        <div class="list-group-item" ng-class="{'list-group-item-success': message.resolved, 'list-group-item-warning': !message.resolved}" ng-repeat="message in messages">
        <div class="checkbox">
		    <label>
		      <input type="checkbox" ng-model="message.resolved" ng-change="resolved(message)"> 
		      	<div>
			      	<h4 class="list-group-item-heading">{{ message.from.name }} @ {{ message.posted_on | date }}</h4>
				  	<p class="list-group-item-text">{{ message.content }}</p>
			  	</div>
		    </label>
		  </div>
        </div>
    </div>
  </div>
</div>