<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> {{ title }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="item in list">
                <i class="fa fa-{{ message.type }} fa-fw"></i> {{ item.title }} {{ item.detail }}
                <span class="pull-right text-muted small"><em>{{ item.date | timeago }}</em></span>
            </a>
        </div>
        <!-- /.list-group -->
        <a href="#" class="btn btn-default btn-block">View All</a>
    </div>
    <!-- /.panel-body -->
</div>
