<div class="col-md-2">
   

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Search by role</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
              <a href="/user/{{role}}" class="list-group-item" ng-repeat="role in allRoles">
                  {{role}}
              </a>
              <a href="/user" class="list-group-item" active-url>
                  all roles
              </a>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Search by group</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
              <a href="/user/group/{{group}}" class="list-group-item" active-url ng-repeat="group in groups">
                  {{group}}
              </a>
          </ul>
        </div>
      </div>
    
</div>
