<div class="panel panel-default">
  <div class="panel-heading">Services
	  <div class="pull-right">
	    <div class="btn-group">
	        <button type="button" class="btn btn-default btn-xs" id="add" ng-click="addNewService(order)">
	            Add new service
	        </button>
	    </div>
	 </div>
 </div>
  <div class="panel-body">
    <div class="list-group">
        <div class="list-group-item" class="list-group-item-success">
          <div>
            <h4 class="list-group-item-heading">{{order.po_number}} - Installation <a ng-href="/order/detail/{{order._id}}/print/Installation"><span class="glyphicon glyphicon-print"></span></a></h4>
            <p class="list-group-item-text">{{ order.installation_date | date }}  </p>
        </div>
        </div>
        <div class="list-group-item" ng-class="{'list-group-item-success': service.completed, 'list-group-item-warning': !service.completed}" ng-repeat="service in order.services">
        <div class="checkbox">
  		    <label>
  		      <input type="checkbox" ng-disabled="service.completed" ng-model="service.completed" ng-change="completed(order, service)" restricted-access>
  		      	<div>
  			      	<h4 class="list-group-item-heading">{{service.title}} - {{ service.date | date }} <a ng-href="/order/detail/{{order._id}}/print/{{service.title | encodeUrl }}"><span class="glyphicon glyphicon-print"></span></a></h4>
  				  	<p class="list-group-item-text">{{ service.details }}</p>
  			  	</div>
  		    </label>
		    </div>
        </div>
    </div>
  </div>
</div>
