<div class="col-md-12">
    <h2>{{getOrderName()}}</h2>
    <form name="form" class="form-horizontal" role="form" novalidate="" ng-submit="save(form.$valid)" ng-class="{submitted:submitted}">
        <div class="row">
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <span class="pull-right"><order-status></order-status></span>
                              Status:
                          </li>
                          <li class="list-group-item">
                              <span class="pull-right">{{ order.createdBy.name }} on {{ order.created_on | date }}</span>
                              Created by:
                          </li>
                          <li class="list-group-item">
                              <span class="pull-right">{{ order.last_updated_by.name }} on {{ order.last_updated_on | date }}</span>
                              Last updated by:
                          </li>
                          <li class="list-group-item">
                              <span class="pull-right">{{ order.date_required  | date }}</span>
                              Required Date
                          </li>
                          <li class="list-group-item" ng-if="order._id">
                               <div class="row">
                                  <div class="col-md-4">
                                      Installation Date
                                  </div>
                                  <div class="col-md-8">
                                      <p class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="order.installation_date" is-open="opened" min-date="minDate" data-show-weeks="false" data-show-today="false"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                      </p>
                                  </div>
                              </div>
                          </li>
                          <li ng-if="order.installation_by.name" class="list-group-item">
                              <span class="pull-right">{{ order.installation_by.name }}</span>
                              Installed By
                          </li>
                          <li class="list-group-item" ng-if="order._id">
                            <div field ng-model="order.installation_by" ng-field="{title:'Installed&nbsp;by', type:'user'}"></div>
                          </li>
                      </ul>

                      <order-workflow order="order" restricted-access ng-if="!isNewOrder()"></order-workflow>
                      <div class="btn-group btn-group-justified" restricted-access ng-if="!isNewOrder()">
                          <div class="btn-group">
                              <button type="button" class="btn btn-default" ng-click="edit()">Edit</button>
                          </div>

                          <div class="btn-group">

                              <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
                          </div>
                      </div>
                  </div>
               </div>

              <order-notes orderid="{{ order._id }}"></order-notes>
              <order-accessories ng-if="preview"></order-accessories>
          </div>
            <div class="col-md-8">
                <tabset justified="true" ng-if="!preview">
                    <tab>
                        <tab-heading>Order&nbsp;<span class="badge" ng-show="order.total_working_hours">{{ order.total_working_hours }} working hours</span></tab-heading>
                        <div class=well>
                             <order-details order="order" ></order-details>
                        </div>
                    </tab>
                    <tab heading="Tasks" disabled="order.forms.length==0 || !order.status || order.status === 'new' ">
                        <div class=well>
                            <p>Add list of tasks that needs to be done to finish the order.</p>
                            <order-tasks></order-tasks>

                        </div>
                    </tab>
                    <tab active="actives.two" heading="Accessories">
                        <div class=well>
                            <p>Add list of accessories that was ordered from the manufacturers and needs to be received.</p>
                            <order-accessories></order-accessories>
                        </div>

                    </tab>
                    <tab heading="Services" disabled="(isNewOrder() || !order.status)">
                        <div class=well>
                            <p>Add list of services associated with this order.</p>
                            <order-services></order-services>
                        </div>

                    </tab>
                    <tab heading="Files" disabled="isNewOrder()">
                        <div class=well>
                            <p>Add list of files associated with this order.</p>
                            <file-uploads model="order" upload-url="/api/orders/{{ order._id }}/upload"></file-uploads>
                        </div>
                    </tab>
                </tabset>
                <order-preview order="order" ng-if="preview"></order-preview>
            </div>
        </div>

        <div class="well" ng-if="!preview">
            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Save</button>
            <button type="reset" class="btn btn-default" ng-click="reset()">Reset</button>
        </div>
        <ul>
          <li ng-repeat="frmData in form.$formData()"></li>
        </ul>
    </form>
</div>
