<div class="panel panel-default" >
  <div class="panel-heading">
  Order {{order.po_number}}
  <span class="pull-right">
    <order-status></order-status>
    <span class="label label-bright" ng-if="order.shipped_date">shipped @ {{order.shipped_date | date}}</span>
  </span>

  </div>
  <div class="panel-body">
    	<table class="table">
    		<tbody>
    			<tr class="success">
    				<th>Customer</th>
    				<td>{{order.customer.name}}</td>
    				<th>Created by</th>
    				<td>{{order.createdBy.name}}</td>
    			</tr>
    			<tr class="success">
    				<th>Bill To</th>
    				<td>{{order.customer.bill_to}}</td>
    				<th>Ship To</th>
    				<td>{{order.customer.ship_to}}</td>
    			</tr>
    			<tr class="info">
    				<th>Email</th>
    				<td>{{order.customer.email}}</td>
    				<th>Contact Number</th>
    				<td>{{order.customer.phone}}</td>
    			</tr>
    			<tr class="info">
            <th>Secondary Number</th>
            <td>{{order.customer.cell}}</td>
            <th>Doors</th>
            <td>{{order.doors}}</td>
          </tr>
          <tr class="info">
    				<th>Date Required</th>
    				<td>{{order.date_required | date}}</td>
    				<th>Installation Date</th>
    				<td>{{(order.installation_date ? order.installation_date : order.date_required) | date}}</td>
    			</tr>
    		</tbody>
    	</table>
      <tabset>
  	    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
          <div ng-include="tab.template"></div>
  	    </tab>
    </tabset>

  </div>
</div>
