@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  .btn {
    display: nonde !important;;
    }
}

.filldetails { 
    min-height: 450px;
    height: 100%;
    white-space: pre-line;
}

.pull-bottom {
  vertical-align: bottom;
  float: none;
}