<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-envelope fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <div class="huge">{{ notes.length }}</div>
                <div>New Notes!</div>
            </div>
        </div>
    </div>
    <a href="" ng-click="isCollapsed = !isCollapsed">
        <div class="panel-footer">
            <span class="pull-left">View notes</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
    </a>

    <div collapse="!isCollapsed">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Recent Notes
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    <li class="clearfix" ng-class-odd="'left'" ng-class-even="'right'" ng-repeat="item in notes">
                        <span class="chat-img" ng-class-odd="'pull-left'" ng-class-even="'pull-right'">
                            <img class="img-circle" alt="{{ item.from.name }}" src="http://placehold.it/50/55C1E7/fff">
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font" ng-class-odd="''" ng-class-even="'pull-right'">
                                <a href="/order/detail/{{ item.order._id }}/">{{ item.from.name }} - {{ item.order.po_number }}</a>
                                </strong>
                                <small class="text-muted" ng-class-odd="'pull-right'" ng-class-even="''">
                                    <i class="fa fa-clock-o fa-fw"></i> {{ item.posted_on | timeago }}
                                </small>
                            </div>
                            <p>
                                {{ item.content }}
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <note></note>
            </div>
            <!-- /.panel-footer -->
        </div>
    </div>
</div>
