<h4>Add New Note</h4>
<form name="form" class="form-horizontal" role="form" novalidate="" ng-submit="saveNote(form.$valid)" ng-class="{submitted:submitted}">
<table class="table">
    <tr>
        <th>Order</th>
        <td>
            <div class="form-group" ng-class="{ 'has-error' : form.order.$invalid || !note.order}">
                <input type="text" name="order" ng-model="note.asyncSelected" placeholder="Lookup an order" ng-required="true"
                uib-typeahead="(orders.po_number + ', ' + orders.customer.name) for orders in loadOrders($viewValue)"
                typeahead-loading="loadingLocations"
                typeahead-on-select="selectedOrder($item, $model, $label)"
                class="form-control">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <p ng-show="form.order.$invalid && !form.order.$pristine || !note.order" class="help-block">Select Order</p>
            </div>
        </td>
    </tr>
    <tr>
        <th>Note</th>
        <td>
            <div class="form-group" ng-class="{ 'has-error' : form.note.$invalid }">
                <textarea name="note" ng-model="note.content" placeholder="Note" ng-required="true" class="form-control"></textarea>
                <p ng-show="form.order.$invalid && !form.order.$pristine || !note.content" class="help-block">Enter Note</p>
            </div>
        </td>
    </tr>
</table>

<div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="submit" class="btn btn-default" ng-disabled="form.$invalid || !note.content || !note.order">Save Note</button>
    </div>
</div>
</form>
